.menu {
    position: absolute;
    height: 100vh;
    width: 250px;
    background-color: white;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: #222223;
    visibility: hidden;
    opacity: 0;
}

.menu ul {
    margin-top: 0px;
    padding: 0px;
    color: black;
    list-style-type: none;
    text-align: center;
}

.menu ul li:last-child {
    border-bottom: none;
}

.menu ul li a {
    padding: 15px 20px;
    font-size: 20px;
    text-decoration: none;
    display: block;
    color: #a1a1a3;
}
.menu ul li a:hover,
.menu ul li a:active,
.menu ul li a:visited,
.menu ul li a:link {
    text-decoration: none;
    color: #696969;
}
